version: "{build}"

image: macos-monterey

cache:
- /Users/appveyor/.local/share/powershell/Modules/Pester
- /Users/appveyor/.local/share/powershell/Modules/PowerShellGet
- /Users/appveyor/.local/share/powershell/Modules/InvokeBuild

skip_branch_with_pr: true

skip_commits:
  author: appveyor

environment:
  GITHUB_TOKEN:
    secure: VBvtOx1GcfCw0CpszU3o51q+rXovGMjX25Ld2RUF3c2rF1kaGF+cF8OiB6U2fPbY
  PSGALLERY_API_KEY:
    secure: UmYQsexe/hTwjL9R4PL6/2yzzwLPMERuN4FD2vWTtlWON8QBOeCifkmDCfzMjifo

build_script:
- pwsh: |
    $ErrorActionPreference = 'Stop'

    ./install-build-dependencies.ps1

    if ($env:APPVEYOR_REPO_TAG_NAME)
    {
        Invoke-Build UpdateVersion -Tag $env:APPVEYOR_REPO_TAG_NAME

        $ManifestPath = 'Karabiner.psd1'
        $Version = (Test-ModuleManifest $ManifestPath -ErrorAction Stop).Version
        $Tag = "v$Version"
        $env:APPVEYOR_REPO_TAG_NAME = $Tag

        $BuildId = $Tag
    }
    elseif ($env:APPVEYOR_PULL_REQUEST_NUMBER)
    {
        $BuildId = "PR$env:APPVEYOR_PULL_REQUEST_NUMBER"
    }
    else
    {
        $BuildId = $env:APPVEYOR_REPO_COMMIT
    }

    Update-AppVeyorBuild -Version ($BuildId, $env:APPVEYOR_BUILD_NUMBER -join '-')

    Invoke-Build Test

    Invoke-Build BuildNupkg

    if ($Version)
    {
        Invoke-Build Tag -Tag $Tag
    }

artifacts:
- path: ./Build/**Karabiner*.nupkg
  name: NuGet package
- path: ./Build/Karabiner
  name: Zip

# If we updated the version in the build step, then we should commit and push
before_deploy:
- pwsh: |
    $ErrorActionPreference = 'Stop'
    Invoke-Build Publish -PSGalleryApiKey $env:PSGALLERY_API_KEY

deploy:
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  description: Karabiner $(APPVEYOR_REPO_TAG_NAME)
  auth_token:
    secure: VBvtOx1GcfCw0CpszU3o51q+rXovGMjX25Ld2RUF3c2rF1kaGF+cF8OiB6U2fPbY
  artifact: Zip
  on:
    branch: main
    APPVEYOR_REPO_TAG: true
    APPVEYOR_REPO_TAG_NAME: /v\d+\.\d+\.\d+/
