version: "{build}"

image: macos-monterey

cache:
- /Users/appveyor/.local/share/powershell/Modules/Pester
- /Users/appveyor/.local/share/powershell/Modules/PowerShellGet
- /Users/appveyor/.local/share/powershell/Modules/InvokeBuild

skip_branch_with_pr: true

skip_commits:
  author: appveyor

environment:
  GITHUB_TOKEN:
    secure: VBvtOx1GcfCw0CpszU3o51q+rXovGMjX25Ld2RUF3c2rF1kaGF+cF8OiB6U2fPbY
  PSGALLERY_API_KEY:
    secure: UmYQsexe/hTwjL9R4PL6/2yzzwLPMERuN4FD2vWTtlWON8QBOeCifkmDCfzMjifo

init:
- pwsh: |
    if ($env:APPVEYOR_REPO_TAG -eq 'true')
    {
        [version]$Version = $env:APPVEYOR_REPO_TAG_NAME -replace '^\D*' -replace '\D*$'
        [int]$Build = $env:APPVEYOR_BUILD_NUMBER
        $BuildVersion = $Version, ++$Build -join '.'
        Update-AppVeyorBuild -Version $BuildVersion
    }
    else
    {
        Update-AppVeyorBuild -Version ($env:APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH, $env:APPVEYOR_BUILD_NUMBER -join '-')
    }

build_script:
- pwsh: |
    ./install-build-dependencies.ps1

    Invoke-Build Test

artifacts:
- path: ./Build/**Karabiner*.nupkg
  name: NuGet package

# If we updated the version in the build step, then we should commit and push
before_deploy:
- pwsh: |
    Invoke-Build Publish -PSGalleryApiKey $env:PSGALLERY_API_KEY

deploy:
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  description: Karabiner $(APPVEYOR_REPO_TAG_NAME)
  auth_token:
    secure: VBvtOx1GcfCw0CpszU3o51q+rXovGMjX25Ld2RUF3c2rF1kaGF+cF8OiB6U2fPbY
  artifact: NuGet package
  on:
    APPVEYOR_REPO_TAG: true
